<template name="appHome">
	<div class="col-md-3">
		<p class="lead">Categories</p>
		{{> listCategories}}
	</div>
	<div class="col-md-9">
	{{#with _id}}
		<p class="pull-left lead">News</p>
		{{#if currentUser}}
		<span class="pull-right">
			<a class="btn btn-primary" href="{{pathFor 'addNews'}}">Add more news</a>
		</span>
		{{/if}}
		<div class="clearfix"></div>
		<div class="row">			
		{{#each news this}}
			{{> itemNews}}
		{{/each}}
		</div>
	{{else}}
		{{> appSlider}}		
	{{/with}}
	</div>
</template>